<head>
	<strong><center><p>An application that lets you keep track of your friends data!</p></center></strong>
</head>
<body>
	<img class="animefriends" src="https://wallpapercave.com/wp/wp6011128.jpg" width="930" 
     height="500">
</body>

<style>

	.description {
		align:left;
	}
	.animefriends 
	{
	   border: 3px solid green
	}
	
	body 
	{
		background-color: aquamarine;
	}
</style>
